<section class="mx-5">
  <h1 class="text-2xl font-bold">Pipes numéricos</h1>
  <h3 class="text-xl font-thin">Pipes incluidos en Angular</h3>
</section>

<div class="stats stats-vertical lg:stats-horizontal shadow w-full">
  <div class="stat">
    <div class="stat-title">Number:'1.2-2' (mínimo 2 decimales, máximo 2)</div>
    <div class="stat-value">{{ ventasTotales() | number : "1.2-2" }}</div>
    <div class="stat-desc">{{ ventasTotales() }}</div>
  </div>

  <div class="stat">
    <div class="stat-title">Number:"1.1-2" (mínimo 1 decimal, máximo 2)</div>
    <div class="stat-value">{{ ventasTotales() + 1234 | number : "1.1-2" }}</div>
    <div class="stat-desc">{{ ventasTotales() }}</div>
  </div>

  <div class="stat">
    <div class="stat-title">Currency-> simbolo $ y 4 decimales </div>
    <div class="stat-value">
      {{ ventasTotales() | currency : "CAD" : "symbol-narrow" : "1.4-4" }}
    </div>
    <div class="stat-desc">{{ ventasTotales() }}</div>
  </div>

  <div class="stat">
    <div class="stat-title">Porcentaje</div>
    <div class="stat-value">
      {{ porcentaje() | percent : "1.2-2" }}
    </div>
    <div class="stat-desc">{{ porcentaje() }}</div>
  </div>
</div>
